
/*********** Some Resets & Default Styles ***********/

p {
    margin: 0 0 15px;
    line-height: 2;
}

.main-menu ul {
  padding-left: 0;
}

.main-menu ul li a{
  color:#fff;
  list-style: none;
  display: inline-block;
  margin: .5em;
 }

.main-menu ul li a {
  color:#fff;
}

.main-menu ul li a:hover {
  text-decoration:none;
}

.main-menu ul {
  padding-left: 0;
}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.bg-color { 
  background-color: #bfbfbf;
}

.widgettitle {
  font-size: 25px;
}

.widget ul { 
margin: 10px 0;
padding: 0;}

.widget li, li.widget {
    list-style: none;
    margin: 20px 0;
}

.site-header, .site-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #bfbfbf;
}

.site-footer a {
color: #fff;
}

.site-content {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 3em;
}

.sidebar-right {
  padding-left: 2em;
}

#comment {
  display: block;
}

.comment .children {
  list-style: none;
}
